{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <div class="main-content d-flex justify-content-between flex-wrap">
        <h2 class="page-title">Create new Patient</h2>
        <div>
            <a href="{{ path('app_patient_index') }}" class="btn btn-secondary me-1 mb-1 mb-md-0">
                Back to List
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    {{ include('patient/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
