<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dashboard{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
  {% endblock %}
</head>
<body>
    <div class="main-wrapper">
        {% include 'partials/_sidebar.html.twig' %}

        <div class="page-wrapper">
            {% include 'partials/_navbar.html.twig' %}

            <div class="page-content">
                {% block body %}{% endblock %}
            </div>

            {% include 'partials/_footer.html.twig' %}
        </div>

    </div>


  {% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
  {% endblock %}
</body>
</html>




